section.message {
  display: flex;
  padding: 1rem 2rem;
  color: var(--text-secondary);
  justify-content: space-between;
  background-color: var(--background-secondary);
  border-bottom: 1px solid var(--text-secondary);
}

section.message > article.msg-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

section.message > article.msg-content > h2.msg-title {
  font-size: 1.2rem;
}

section.message > footer.msg-control > button.msg-close-btn {
  border: none;
  color: var(--text-secondary);
  background-color: transparent;
}
section.message > footer.msg-control > button.msg-close-btn > svg {
  border-radius: 1rem;
}

section.message > footer.msg-control > button.msg-close-btn > svg:hover {
  background-color: var(--text-secondary);
  color: var(--background-secondary);
}

section.message > footer.msg-control > button.msg-close-btn > svg:active {
  background-color: var(--danger-color);
  color: var(--text-secondary);
}

@media screen and (max-width: 768px) {
  section.message {
    padding: 1rem;
    font-size: 0.75rem;
  }

  section.message > article.msg-content > h2.msg-title {
    font-size: 1rem;
  }
}
