* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

:root {
  --primary-color: #EE05F2;
  --secondary-color: #8A038C;
  --tertiary-color: #580259;
  --light-color: #F2D5F2;
  --dark-color: #0D0D0D;
}

:root,
body,
main {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter";
} 

nav#navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

nav#navbar > ul:is(#navbar-content, #navbar-options) {
  list-style: none;
  display: flex;
  align-items: center;
}

nav#navbar > ul#navbar-content {
  gap: 2rem;  
}

nav#navbar > ul#navbar-content > li.nav-item > a.nav-link {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark-color);
}

nav#navbar > ul#navbar-content > li.nav-item > a.nav-link-active {
  padding-block-end: 1px;
  border-block-end: 0.1em solid var(--dark-color);
}

nav#navbar > ul#navbar-content > li.nav-item > a.nav-link:hover {
  padding-block-end: 1px;
  border-block-end: 0.1em solid var(--dark-color);
}

nav#navbar > ul#navbar-options {
  gap: 0.25rem;  
}

nav#navbar > ul#navbar-options > li.nav-item {
  display: flex;
  gap: 5px;
  padding: 0.25rem;
}

nav#navbar > ul#navbar-options > li.nav-item > button {
  border: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 100%;
  font-size: 1.2rem;
  text-transform: uppercase;
}

nav#navbar > ul#navbar-options > li.nav-item > button > i {
  font-size: 1.5rem;
}

nav#navbar > ul#navbar-options > li.nav-item > button:hover {
  color: var(--secondary-color);
}

section#aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1;
  padding-inline: 2rem;
}

section#aboutme > header {
  font-size: 1.5rem;
  max-width: 50%;
}

section#aboutme > header > h2 {
  margin-block-end: 2rem;
  text-transform: uppercase;
  color: var(--secondary-color);
}

section#aboutme > footer.wrapper > p > img {
  border-radius: 100%;
  max-width: 256px;
}
