* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

:root,
body,
main {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

nav#navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

nav#navbar > ul:is(#navbar-content, #navbar-options) {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}

nav#navbar > ul#navbar-content > li.nav-item > a.nav-link {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav#navbar > ul#navbar-content > li.nav-item > a.nav-link-active {
  padding-block-end: 1px;
  border-block-end: 0.1em solid black;
}

nav#navbar > ul#navbar-content > li.nav-item > a.nav-link:hover {
  padding-block-end: 1px;
  border-block-end: 0.1em solid black;
}

nav#navbar > ul#navbar-options > li.nav-item > i {
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem;
}

nav#navbar > ul#navbar-options > li.nav-item > i:hover {
  border-radius: 100%;
  background-color: lightgray;
}

section#aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1;
  padding-inline: 2rem;
}

section#aboutme > header {
  font-size: 1.5rem;
  max-width: 50%;
}

section#aboutme > header > h2 {
  margin-block-end: 2rem;
  text-transform: uppercase;
}

section#aboutme > footer.wrapper > p > img {
  border-radius: 100%;
  max-width: 256px;
}
