section#my-projects {
  flex: 1;
  padding-inline: 2rem;
  display: flex;
  justify-content: center;
}

section#my-projects > ol.project-list {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 2rem;
}

section#my-projects > ol.project-list > li.pl-project-item {
  display: grid;
  grid-template-columns: 3em 1fr 1em;
  align-items: center;
  gap: 1rem;
  padding-inline: 1rem;
  transition: 0.2s border;
  border-inline-start: 5px solid transparent;
}

section#my-projects > ol.project-list > li.pl-project-item:hover {
  border-inline-start: 5px solid var(--primary-color);
  box-shadow: 0 0 3px var(--text-muted);
}

section#my-projects > ol.project-list > li.pl-project-item > p.pl-pi-counter {
  font-weight: 700;
  font-size: 3em;
  font-family: Inter;
  padding-inline-start: 0.1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

section#my-projects > ol.project-list > li.pl-project-item > a.pl-pi-link {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--text-color);
}

section#my-projects
  > ol.project-list
  > li.pl-project-item
  > a.pl-pi-link
  > h3.pl-pi-lnk-title {
  font-weight: 300;
  font-size: 1.5em;
}

section#my-projects
  > ol.project-list
  > li.pl-project-item
  > a.pl-pi-link
  > h3.pl-pi-lnk-title
  > span:last-child {
  display: none;
}

section#my-projects
  > ol.project-list
  > li.pl-project-item
  > a.pl-pi-link
  > small.pl-pi-lnk-description {
  font-family: Montserrat;
  color: var(--text-muted);
  font-size: 1.125em;
}

section#my-projects
  > ol.project-list
  > li.pl-project-item:hover
  > a.pl-pi-link
  > small.pl-pi-lnk-description {
  color: var(--text-color);
}

section#my-projects > ol.project-list > li.pl-project-item > span > svg {
  visibility: hidden;
}

section#my-projects > ol.project-list > li.pl-project-item:hover > span > svg {
  visibility: visible;
}

@media screen and (max-width: 768px) {
  section#my-projects {
    padding: 1rem;
    align-items: space-evenly;
  }

  section#my-projects > ol.project-list {
    flex-flow: row wrap;
    gap: 0.5rem;
  }

  section#my-projects > ol.project-list > li.pl-project-item {
    padding: 0;
    grid-template-columns: 1.5em 1fr;
    align-items: start;
    height: fit-content;
    gap: 0.5rem;
  }

  section#my-projects > ol.project-list > li.pl-project-item > p.pl-pi-counter {
    font-size: 1.5em;
    font-weight: 500;
  }

  section#my-projects > ol.project-list > li.pl-project-item > a.pl-pi-link {
    word-break: break-all;
  }

  section#my-projects
    > ol.project-list
    > li.pl-project-item
    > a.pl-pi-link
    > h3.pl-pi-lnk-title {
    font-size: 1.5em;
    font-weight: 500;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 0.5rem;
  }

  section#my-projects
    > ol.project-list
    > li.pl-project-item
    > a.pl-pi-link
    > h3.pl-pi-lnk-title
    > span:last-child {
    display: inline;
    color: var(--text-muted);
  }

  section#my-projects
    > ol.project-list
    > li.pl-project-item
    > a.pl-pi-link
    > h3.pl-pi-lnk-title
    > span:last-child > svg {
    width: 1em;
  }

  section#my-projects > ol.project-list > li.pl-project-item > span {
    display: none;
  }
}
