section#my-projects {
  flex: 1;
  padding-inline: 2rem;
  display: flex;
  justify-content: center;
}

section#my-projects > ol.project-list {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 2rem;
}

section#my-projects > ol.project-list > li.pl-project-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-inline-end: 1em;
  gap: 1rem;
}

section#my-projects > ol.project-list > li.pl-project-item:hover {
  margin-inline-start: 1em;
  background-color: var(--text-secondary);
  border-inline-start: 0.5em solid var(--primary-color);
}

section#my-projects
  > ol.project-list
  > li.pl-project-item
  > span.pl-pi-counter {
  font-weight: 700;
  font-size: 3em;
  font-family: Inter;
  padding-inline-start: 0.1em;
}

section#my-projects > ol.project-list > li.pl-project-item > a.pl-pi-link {
  flex: 1;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--text-color);
}

section#my-projects
  > ol.project-list
  > li.pl-project-item
  > a.pl-pi-link
  > h3.pl-pi-lnk-title {
  font-weight: 300;
  font-size: 1.5em;
}

section#my-projects
  > ol.project-list
  > li.pl-project-item
  > a.pl-pi-link
  > small.pl-pi-lnk-description {
  font-family: Montserrat;
  color: var(--text-muted);
  font-size: 1.125em;
}

section#my-projects
  > ol.project-list
  > li.pl-project-item:hover
  > a.pl-pi-link
  > small.pl-pi-lnk-description {
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  section#my-projects {
    padding: 1rem;
  }

  section#my-projects > ol.project-list {
    flex-flow: row wrap;
  }

  section#my-projects > ol.project-list > li.pl-project-item {
    flex-flow: row wrap;
    align-items: start;
    gap: 0.5rem;
  }

  section#my-projects
    > ol.project-list
    > li.pl-project-item
    > span.pl-pi-counter {
    font-size: 1.5em;
    font-weight: 500;
  }

  section#my-projects > ol.project-list > li.pl-project-item > a.pl-pi-link {
    word-break: break-all;
  }

  section#my-projects
    > ol.project-list
    > li.pl-project-item
    > a.pl-pi-link
    > h3.pl-pi-lnk-title {
    font-size: 1.5em;
    font-weight: 500;
  }

  section#my-projects
    > ol.project-list
    > li.pl-project-item
    > a.pl-pi-link
    > small.pl-pi-lnk-description {
    font-size: 1.125rem;
    text-align: justify;
  }
}
