section#contact-me {
  flex: 1;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section#contact-me > h2 {
  font-weight: 200;
  font-size: 2rem;
}

section#contact-me > h2 > span.cm-text-highlight {
  color: var(--text-highlight);
  font-style: italic;
}

section#contact-me > div.container {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section#contact-me > div.container > div.contact-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

section#contact-me > div.container > div.contact-list > p.wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}

section#contact-me > div.container > div.contact-list > p.wrapper > a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.5rem;
  font-family: monospace;
}

section#contact-me > div.container > div.contact-list > p.wrapper > svg {
  width: 3rem;
  height: 3rem;
}

section#contact-me > div.container > div.contact-list > p.wrapper > a > svg {
  visibility: hidden;
  color: var(--text-highlight);
}

section#contact-me > div.container > div.contact-list > p.wrapper:hover > a {
  text-decoration: underline var(--primary-color);
  text-underline-offset: 0.5em;
}

section#contact-me
  > div.container
  > div.contact-list
  > p.wrapper
  > a:hover
  > svg {
  visibility: visible;
}

@media screen and (max-width: 768px) {
  section#contact-me {
    padding: 1rem;
  }

  section#contact-me > h2 {
    font-weight: 400;
    font-size: 1.125rem;
  }

  section#contact-me > div.container > div.contact-list > p.wrapper > a {
    font-size: 1rem;
  }

  section#contact-me > div.container > div.contact-list > p.wrapper > svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  section#contact-me > div.container > div.contact-list > p.wrapper > a > svg {
    visibility: visible;
    color: var(--text-muted);
    width: 1rem;
    height: 1rem;
  }
}
