nav#navbar > ul.nb-items {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 2rem;
}

nav#navbar > ul.nb-items > li.nb-item > ul.nb-group {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
}

nav#navbar > ul.nb-items > li.nb-item > ul.nb-group > li#navbar-toggle {
  display: none;
}

nav#navbar > ul.nb-items > li.nb-item > ul.nb-group > li.nb-g-item > a.nb-link {
  font-size: 1.2rem;
  color: var(--dark-color);
  text-decoration: none;
  text-transform: uppercase;
}

nav#navbar
  > ul.nb-items
  > li.nb-item:first-child
  > ul.nb-group
  > li:is(.nb-g-item:hover, .nb-selected) {
  border-block-end: 2px solid var(--dark-color);
}

nav#navbar
  > ul.nb-items
  > li.nb-item:first-child
  > ul.nb-group
  > li.nb-g-item:hover {
  border-color: var(--secondary-color);
}

nav#navbar > ul.nb-items > li.nb-item > ul.nb-group > li.nb-g-item {
  display: flex;
  align-items: center;
}

nav#navbar
  > ul.nb-items
  > li.nb-item
  > ul.nb-group
  > li.nb-g-item
  > :is(button, select) {
  display: flex;
  border: none;
  background-color: transparent;
}

nav#navbar
  > ul.nb-items
  > li.nb-item
  > ul.nb-group
  > li.nb-g-item:hover
  > :is(button, select, svg) {
  color: var(--secondary-color);
}

nav#navbar > ul.nb-items > li.nb-item > ul.nb-group > li.nb-g-item > select {
  text-transform: uppercase;
  appearance: none;
  outline: none;
  padding-inline: 0.5rem;
}

@media screen and (max-width: 768px) {
  nav#navbar > ul.nb-items {
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
  }

  nav#navbar > ul.nb-items > li.nb-item > ul.nb-group > li#navbar-toggle {
    display: block;
    flex: 1;
  }

  nav#navbar > ul.nb-items > li.nb-item:first-child {
    order: 1;
  }

  nav#navbar > ul.nb-items > li.nb-item:first-child > ul.nb-group {
    flex-direction: column;
    gap: 2rem;
  }
}
