*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  font-family: Montserrat, sans-serif;

  --primary-color: #EE05F2;
  --secondary-color: #8A038C;
  --tertiary-color: #580259;
  --light-color: #F2D5F2;
  --dark-color: #0D0D0D;
  --danger-color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, sans-serif;
}
