*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  font-family: Montserrat, sans-serif;

  --primary-color: #8a038c;

  --text-color: #0d0d0d;
  --text-muted: #9f9f9f;
  --text-highlight: #8a038c;
  --background-color: #ffffff;

  /* text-secondary and background-secondary are opposite of a current scheme color */
  --text-secondary: #f2d5f2;
  --background-secondary: #580259;

  --danger-color: red;
  --success-color: green;
  --info-color: blue;
  --warning-color: yellow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, sans-serif;
}
