section#about-me {
  gap: 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  padding-inline: 2rem;
  justify-content: center;
}

section#about-me > header {
  max-width: 50%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

section#about-me > header > h2 {
  color: var(--primary-color);
  font-size: 2.25rem;
  text-transform: uppercase;
}

section#about-me > header > p {
  font-size: 1.5rem;
}

section#about-me > footer {
  max-width: 50%;
}

@media screen and (max-width: 768px) {
  section#about-me {
    padding: 1rem;
    flex-direction: column;
  }

  section#about-me > :is(header, footer) {
    max-width: 100%;
  }

  section#about-me > header {
    gap: 1rem;
  }

  section#about-me > header > h2 {
    font-size: 1.5rem;
  }

  section#about-me > header > p {
    font-size: 1.125rem;
    word-break: break-all;
  }
}
